%h1.parent-title Edit your template
#create-template.rounded-all
  = semantic_form_for @template, :url => template_path do |form|
    %h4
      Your template file:
      %strong=link_to @template.source_url, @template.source_url
    = form.inputs do
      = form.input :title, :input_html => { :placeholder => "Your template title" }
      = form.input :description, :as => :text, :input_html => { :placeholder => "Your template description" }
      = form.input :tag_list, :input_html => { :placeholder => "Comma separated tags" }
    = form.buttons do
      = form.submit 'Update!', :class => "rounded-all"