#create-template.rounded-all
  %h2 Edit your template
  = semantic_form_for @template, :url => template_path do |form|
    %h4
      Your template file:
      %strong=link_to @template.gist_file, @template.gist_file
    = form.inputs do
      = form.input :title, :input_html => { :placeholder => "Your template title" }
      = form.input :description, :as => :text, :input_html => { :placeholder => "Your template title" }
      = form.input :tag_list, :input_html => { :placeholder => "Comma separated tags" }
    = form.buttons do
      = form.submit 'Update!', :class => "rounded-all"