%h1.parent-title Edit your template
#create-template.rounded-all
  = semantic_form_for @template, :url => template_path do |form|
    %h4
      Your template file:
      %strong= @template.gist_file
    = form.inputs do
      = form.input :title, :input_html => { :placeholder => "Title" }
      = form.input :description, :as => :text, :input_html => { :placeholder => "Description" }
      = form.input :tag_list, :input_html => { :placeholder => "Tag List" }
    = form.buttons do
      = form.submit 'Update!', :class => "rounded-all"