%h1.parent-title Create a new template
#create-template.rounded-all
  %h2 Step 1
  = form_for @template do
    %fieldset.inputs
      %ol
        %li
          = label_tag "Gist/Github File URL"
          = text_field_tag :github_url, nil, :placeholder=> 'Paste here your gist or github URL here...'
    - if flash[:invalid]
      .invalid= flash[:invalid]
    %fieldset.buttons
      %ol
        %li= submit_tag 'Next', :class => "rounded-all"
