
%h1= @template.title



= link_to download_url(@template), download_url
= clippy download_url(@template)
= @template.description

= pluralize @template.download_counter, "download"

= link_to 'Like', like_template_path(@template), :method => :put, :id => 'like-this-template'