#template-view

  // Left Column ------------------------------------
  %section#left.rounded-all

    %h2 Code Viewer

    .holder-content
      // Template -----------------------------------
      #sample{:'data-url' => @template.gist_file}
        / = simple_format(@template.sample.gsub(" ","&nbsp;"))

  // Right Column -----------------------------------
  %section#right.rounded-all
    .corner &nbsp;
    // Template's Name ------------------------------
    %h2= link_to @template.title, download_url(@template)

    .holder-content
      // Template's Descrition ----------------------
      %p= @template.description
      .line-divisor.rounded-all
      #downloads
        %h3 Downloads
        .holder-content.rounded-all
          = link_to download_url(@template), download_url
          #d_clip_button{ :title => "Copy to Clipboard"}
          / = clippy download_url(@template)
        = pluralize(@template.download_counter, "person has downloaded it", "people have downloaded it")
      .line-divisor.rounded-all
      #likes
        %h3 Popularity
        %p= pluralize(@template.likes.count, "person like it", "people like it")
        .link-default.rounded-all
          - if githubber_signed_in?
            = link_to 'I like it', template_likes_path(@template), :method => :put, :id => 'like_button', :remote => true
          - else
            = link_to 'I like it', new_githubber_session_path, :id => 'like_button'
        .break
      .line-divisor.rounded-all
      #working_status
        %h3 Did it work for you?
        %ul
          -if githubber_signed_in?
            %li
              .link-default.rounded-all= link_to 'Yes', template_works_path(@template, :work => true), :method => :POST, :id => 'work_button', :remote => true
            %li
              .holder-content.rounded-all
                .work{ :title => "Work"}
                .doesnt-work{ :title => "Doesn't Work"}
            %li
              .link-default.rounded-all= link_to "No", template_works_path(@template, :work => false), :method => :POST, :id => 'not_work_button', :remote => true
          - else
            %li
              .link-default.rounded-all= link_to 'Yes', new_githubber_session_path, :id => 'work_button'
            %li
              .holder-content.rounded-all
                .work{ :title => "Work"}
                .doesnt-work{ :title => "Doesn't Work"}
            %li
              .link-default.rounded-all= link_to 'No', new_githubber_session_path, :id => 'not_work_button'
      .line-divisor.rounded-all
      .break
      #tag_list
        %h3 Tags
        = @template.tags.map { |t| link_to(t, "#") }.join(", ").html_safe