- content_for :javascripts, include_javascripts(:preview)

#template-view

  // Left Column
  %section#left.rounded-all

    %h2 Code Viewer
    .holder-content
      // Template
      #source_code.loading{:'data-url' => @template.source_url}

  // Right Column
  %section#right.rounded-all
    .corner &nbsp;
    // Template's Name
    %h2
      = link_to @template.title, download_url(@template)
      %br
      by
      = link_to @template.githubber.name, "http://github.com/#{@template.githubber.login}"

    .holder-content
      - unless @template.description.blank?
        // Template's Descrition
        %p= @template.description
        .line-divisor.rounded-all
      #downloads
        %h3 Downloads
        .holder-content.rounded-all
          = link_to download_url(@template), download_url(@template)
          %span.notice Copied to Clipboard!
          #d_clip_button{ :title => "Copy to Clipboard"}

        = pluralize(@template.download_counter, "person has downloaded it", "people have downloaded it")
      .line-divisor.rounded-all
      = render :partial => 'like_status', :locals => { :template => @template }
      .line-divisor.rounded-all
      #working_status
        %h3 Did it work for you?
        %ul
          -if githubber_signed_in?
            %li
              .link-default.rounded-all= link_to 'Yes', votable_link_to(@template, :work => true), :method => :POST, :id => 'work_button', :remote => true
            %li
              .holder-content.rounded-all
                = render :partial => 'working_stats', :locals => { :template => @template }
            %li
              .link-default.rounded-all= link_to "No", votable_link_to(@template), :method => :POST, :id => 'not_work_button', :remote => true
          - else
            %li
              .link-default.rounded-all= link_to 'Yes', new_githubber_session_path, :id => 'work_button'
            %li
              .holder-content.rounded-all
                = render :partial => 'working_stats', :locals => { :template => @template }
            %li
              .link-default.rounded-all= link_to 'No', new_githubber_session_path, :id => 'not_work_button'
      .line-divisor.rounded-all
      .break
      #tag_list
        %h3 Tags
        = @template.tags.map { |t| link_to(t, "#") }.join(", ").html_safe