#current_githubber
  - if githubber.email
    = gravatar_for githubber
  %p
    Hello,
    %em= githubber.name
  = link_to "Sign out", destroy_githubber_session_path

%ul#menu
  %li= link_to "My Templates", mine_templates_path
  %li= link_to "Create a new template", new_template_path
  %li= link_to "All Templates", all_templates_path