%h1.parent-title Rails templates learning center
#create-template.rounded-all.textbox
  %p
    We haven't wrote any tutorial yet on how to create a template, but check
    = link_to "this awesome blog post", "http://m.onkey.org/2008/12/4/rails-templates"
    from
    = link_to "Pratik Naik", "http://m.onkey.org/"
    that gives you some knowledge about how to create a Ruby on Rails application template.

  %p
    You can also check some examples extracted from github:

  %ul
    %li= link_to "A template from Diego Carrion", "http://github.com/dcrec1/rails3_template"
    %li= link_to "A template from Daniel Lopes", "http://github.com/danielvlopes/base_app"
    %li= link_to "A template from this website creators Lucas Mazza and Rodrigo Flores", "http://github.com/sabbre/base-template"