%h1 Second Step

explanation text goes here
= semantic_form_for @template, :url => gists_path do |form|
  = form.inputs do
    = form.input :gist_file, :as => :select, :collection => @github.gist_files, :prompt => false
    = form.input :title
    = form.input :description, :as => :text
    = form.input :tag_list
  = form.buttons do
    = form.submit 'Create!'
