%h1.parent-title= "Searching for #{@query}"

%p.search-counter
  We have found
  = pluralize(@total, 'result') + " for"
  = "\'#{@query}\'"

#all-templates
  %ul
    - @templates.each do |template|
      %li
        %section#left.rounded-all
          %h2= link_to template.title, template
          = simple_format template.description
        %section#right.rounded-all
          %p.download= pluralize(template.download_counter, "person has downloaded it", "people have downloaded it")
          %p.liked= pluralize(template.likes.count, "person like it", "people like it")
  = will_paginate @templates