%h1.parent-title= "Searching for #{params[:search]}"

%p.search-counter
  We have found 
  = @total
  results for  
  = "\'#{params[:search]}\'"
  
#all-templates
  %ul
    - @templates.each do |template|
      %li
        %section#left.rounded-all
          %h2= link_to template.title, template
          = simple_format template.description
        %section#right.rounded-all
          %p.download= pluralize(template.download_counter, "person has downloaded it", "people have downloaded it")
          %p.liked= like_counter(template)


  = will_paginate @templates