%h2= "Searching for #{params[:search]}"


%p
  I have found 
  = @templates.size
  results for  
  = "\'#{params[:search]}\'"
%ul
  - @templates.each do |template|
    %li= link_to template.title, template_path(template)