!!! 1.0

%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title RailsTemplates.org
    %meta{ "http-equiv" => "content-type", :content => "text/html; charset=UTF-8" }
    %meta{ "http-equiv" => "content-language", :content => "en" }
    %meta{ :name => "distribution", :content => "global" }
    %meta{ :name => "revisit-after", :content => "30 days" }
    = include_stylesheets :base
    = csrf_meta_tag
  %body
    %h1
      = link_to "Rails Templates", root_path
    #header
      = render :partial => 'shared/header'
    #main
      = yield
    #footer
      = render :partial => 'shared/footer'
    
    
    = jquery_tag
    = include_javascripts :base
    = javascript_include_tag 'http://blog.railsrumble.com/javascripts/rumble-r10-sash.js'